Repository msg-company/big-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix, cd apps/frontend/sso && stylelint --fix, cd apps/backend/gateway && stylelint --fix, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": [
    "prettier --write",
    "cd apps/frontend/sso && eslint --fix",
    "cd apps/backend/gateway && eslint --fix"
  ],
  "apps/**/*.{css,scss}": [
    "prettier --write",
    "cd apps/frontend/sso && stylelint --fix",
    "cd apps/backend/gateway && stylelint --fix"
  ],
  "packages/**/*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/**/*.{css,scss}": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore: обновлены package.json файлы для удаления setup-env и обновления скриптов
  apps/frontend/sso/package.json
  package.json
Due: prettier --write

chore: изменен порт dev сервера на 3001 в package.json
  apps/frontend/sso/package.json
Due: prettier --write

chore: добавлены разрешения для github_token в codeql.yml
  .github/workflows/codeql.yml
Due: none

chore: обновлены разрешения в cii.yml
  .github/workflows/cii.yml
Due: none

chore: добавлены разрешения в lighthouse.yml
  .github/workflows/lighthouse.yml
Due: none

chore(lighthouse): update node-version-file and whitespace cleanup
  .github/workflows/lighthouse.yml
Due: none

chore(codeql): обновление версии действий
  .github/workflows/codeql.yml
Due: none

chore: удаление скрипта update-deps.sh
  bin/update-deps.sh
Due: none

ci: улучшение безопасности github actions
  .github/workflows/cii.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
Due: none

ci: улучшение конфигурации codeql анализа
  .github/workflows/codeql.yml
Due: none

ci: исправление установки pnpm в github actions
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
Due: none

refactor: заменены хеши на стандартные версии в github actions
  .github/workflows/cii.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pull-request-label.yml
  .github/workflows/scorecard.yml
Due: none

feat: добавлен конфигурационный файл для codeql
  .github/codeql/codeql-config.yml
  .github/workflows/codeql.yml
Due: none

chore(security): привязка github actions к конкретным хешам коммитов
  .github/workflows/cii.yml
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pull-request-label.yml
  .github/workflows/scorecard.yml
Due: none

chore(безопасность): обновление хешей для github actions
  .github/workflows/codeql.yml
  .github/workflows/lighthouse.yml
  .github/workflows/scorecard.yml
Due: none

fix(безопасность): привязка syft к конкретной версии
  .github/workflows/cii.yml
Due: none

fix(безопасность): исправлена проверка хеша syft
  .github/workflows/cii.yml
Due: none

fix(безопасность): замена npm на pnpm с фиксированными версиями
  .github/workflows/cii.yml
Due: none

fix(безопасность): привязка pnpm/action-setup к конкретному хешу
  .github/workflows/lighthouse.yml
Due: none

fix(безопасность): привязка всех actions к хешам в scorecard.yml
  .github/workflows/scorecard.yml
Due: none

fix(безопасность): привязка actions к хешам в pull-request-label.yml
  .github/workflows/pull-request-label.yml
Due: none

fix(безопасность): привязка @lhci/cli к хешу
  .github/workflows/lighthouse.yml
Due: none

fix(ci): обновление версий действий в scorecard.yml
  .github/workflows/scorecard.yml
Due: none

fix(ci): привязка actions к хешам в scorecard.yml
  .github/workflows/scorecard.yml
Due: none

fix(ci): обновление хеша для step-security/harden-runner
  .github/workflows/scorecard.yml
Due: none

fix: обновлены хеши для github actions в scorecard workflow
  .github/workflows/scorecard.yml
Due: none

docs: добавлен шаг локального тестирования в руководство по началу работы
  apps/frontend/sso/app/page.tsx
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

ci: улучшена безопасность и читаемость github actions
  .github/workflows/cii.yml
  .github/workflows/lighthouse.yml
  .github/workflows/pull-request-label.yml
  .github/workflows/scorecard.yml
  pnpm-workspace.yaml
  turbo.json
Due: prettier --write

fix: упрощена установка lighthouse cli в github actions
  .github/workflows/lighthouse.yml
Due: none

fix: обновлен хеш коммита для pnpm action
  .github/workflows/lighthouse.yml
Due: none

docs: добавлен шаг проверки lighthouse в руководство
  apps/frontend/sso/app/page.tsx
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

fix: обновлен хеш коммита для pnpm/action-setup на актуальный
  .github/workflows/lighthouse.yml
Due: none

docs: добавлен шаг деплоя в руководство
  apps/frontend/sso/app/page.tsx
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

fix: обновлен хеш коммита pnpm/action-setup на актуальный
  .github/workflows/lighthouse.yml
Due: none

feat: улучшена доступность в sso приложении
  apps/frontend/sso/app/page.tsx
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

fix: добавлен standalone режим для pnpm установки
  .github/workflows/lighthouse.yml
Due: none

fix: используем npm для установки pnpm
  .github/workflows/lighthouse.yml
Due: none

feat: улучшена семантика и доступность в sso
  apps/frontend/sso/app/page.module.css
  apps/frontend/sso/app/page.tsx
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix, cd apps/frontend/sso && stylelint --fix, cd apps/backend/gateway && stylelint --fix

chore: удалены хеши коммитов из github actions
  .github/workflows/scorecard.yml
  apps/frontend/sso/app/page.module.css
  apps/frontend/sso/app/page.tsx
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix, cd apps/frontend/sso && stylelint --fix, cd apps/backend/gateway && stylelint --fix

docs: добавлено руководство по внесению изменений
  CONTRIBUTING.md
Due: prettier --write
