Repository msg-company/big-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix, cd apps/frontend/sso && stylelint --fix, cd apps/backend/gateway && stylelint --fix, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": [
    "prettier --write",
    "cd apps/frontend/sso && eslint --fix",
    "cd apps/backend/gateway && eslint --fix"
  ],
  "apps/**/*.{css,scss}": [
    "prettier --write",
    "cd apps/frontend/sso && stylelint --fix",
    "cd apps/backend/gateway && stylelint --fix"
  ],
  "packages/**/*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/**/*.{css,scss}": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

feat: добавлена настройка commitlint для стандартизации коммитов
  .husky/commit-msg
  commitlint.config.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

ci: добавлен анализ безопасности кода с помощью codeql
  .github/workflows/codeql.yml
Due: none

chore: обновлена конфигурация dependabot для pnpm workspace
  .github/dependabot.yml
  SECURITY.md
Due: prettier --write

ci: обновлена конфигурация codeql для расширенного анализа
  .github/workflows/codeql.yml
Due: none

ci: добавлена конфигурация scorecard для анализа безопасности
  .github/scorecard.yml
  .github/workflows/scorecard.yml
Due: none

ci: добавлен workflow для управления метками в pull request
  .github/workflows/pull-request-label.yml
Due: none

chore: обновлены хуки husky для совместимости с v10
  .husky/commit-msg
  .husky/pre-commit
Due: none

ci: обновлены правила форматирования коммитов dependabot
  .github/dependabot.yml
Due: none

fix: удален неподдерживаемый параметр workspaces из dependabot.yml
  .github/dependabot.yml
Due: none

ci: улучшена конфигурация dependabot с группировкой зависимостей
  .github/dependabot.yml
Due: none

ci: обновлена конфигурация dependabot в соответствии с реальными зависимостями
  .github/dependabot.yml
Due: none

deps: обновлены все пакеты до последних версий
  apps/backend/gateway/package.json
  apps/frontend/sso/package.json
  package.json
  packages/eslint-config/package.json
  packages/prettier-config/package.json
  packages/stylelint-config/package.json
  pnpm-lock.yaml
Due: prettier --write

build: отключен legacy-peer-deps для правильного разрешения зависимостей
  .npmrc
Due: none

chore: добавлен .editorconfig для унификации стиля кода
  .editorconfig
Due: none

chore: добавлен nvmrc для фиксации версии nodejs
  .nvmrc
Due: none

ci: добавлен lighthouse ci для анализа производительности frontend
  .github/lighthouserc.json
  .github/workflows/lighthouse.yml
Due: prettier --write

feat: добавлена конфигурация lighthouse ci и тесты производительности
  .github/lighthouserc.json
  .github/workflows/lighthouse.yml
  apps/frontend/sso/.gitignore
  apps/frontend/sso/README.md
  apps/frontend/sso/package.json
  lighthouserc.js
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: обновлена конфигурация lighthouse ci и токены
  .github/workflows/lighthouse.yml
  lighthouserc.js
Due: none

chore: оптимизация gitignore для turborepo
  .gitignore
Due: none

chore: обновление конфигурации проекта
  .eslintignore
  .lintstagedrc
  apps/frontend/sso/README.md
Due: prettier --write

chore: настройка lighthouse и pwa
  apps/frontend/sso/app/layout.tsx
  apps/frontend/sso/next.config.js
  apps/frontend/sso/public/manifest.json
  lighthouserc.js
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

chore: добавлена папка для иконок pwa
  apps/frontend/sso/public/icons/icon-192x192.png
  apps/frontend/sso/public/icons/icon-512x512.png
Due: none

chore: оптимизация lighthouse конфигурации
  apps/frontend/sso/next.config.js
  lighthouserc.js
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

refactor: оптимизация конфигурации next.js для sso приложения
  apps/frontend/sso/next.config.js
  apps/frontend/sso/package.json
  pnpm-lock.yaml
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

feat: добавлены новые файлы .github/workflows/cii.yml, changelog.md, license
  .github/workflows/cii.yml
  CHANGELOG.md
  LICENSE
Due: prettier --write

ci: добавлен шаг проверки установки cyclonedx-bom и использование npx для генерации sbom
  .github/workflows/cii.yml
Due: none

ci: исправлено использование npx для проверки установки cyclonedx-bom
  .github/workflows/cii.yml
Due: none

ci: установка и использование cyclonedx-bom с указанием версии через npx
  .github/workflows/cii.yml
Due: none

ci: добавлены шаги для очистки кэша npm и проверки установки cyclonedx-bom
  .github/workflows/cii.yml
Due: none

ci: удалены шаги для cyclonedx-bom, оставлен только syft для генерации sbom
  .github/workflows/cii.yml
Due: none

ci: закомментирован шаг npm audit для временного отключения проверки безопасности
  .github/workflows/cii.yml
Due: none

chore: обновлены настройки vscode для улучшения конфигурации среды разработки
  .vscode/settings.json
Due: prettier --write

docs: обновлен security.md для актуализации информации о безопасности
  SECURITY.md
Due: prettier --write

feat: обновлен компонент themeimage в page.tsx для улучшения производительности
  apps/frontend/sso/app/page.tsx
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

build: обновлен next.config.js для оптимизации сборки
  apps/frontend/sso/next.config.js
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

chore: обновлен package.json для актуализации зависимостей
  apps/frontend/sso/package.json
Due: prettier --write

chore: обновлен tsconfig.json для улучшения конфигурации typescript
  apps/frontend/sso/tsconfig.json
Due: prettier --write

chore: обновлен package.json, удалены зависимости @repo/cli и @repo/env-config
  package.json
Due: prettier --write

chore: обновлен pnpm-lock.yaml после обновления зависимостей
  pnpm-lock.yaml
Due: none

chore: обновлен turbo.json для улучшения конфигурации сборки
  turbo.json
Due: prettier --write
