Repository msg-company/big-project: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix, cd apps/frontend/sso && stylelint --fix, cd apps/backend/gateway && stylelint --fix, eslint --fix, stylelint --fix

.lintstagedrc:

{
  "apps/**/*.{js,ts,tsx}": [
    "prettier --write",
    "cd apps/frontend/sso && eslint --fix",
    "cd apps/backend/gateway && eslint --fix"
  ],
  "apps/**/*.{css,scss}": [
    "prettier --write",
    "cd apps/frontend/sso && stylelint --fix",
    "cd apps/backend/gateway && stylelint --fix"
  ],
  "packages/**/*.{js,ts,tsx}": [
    "prettier --write",
    "eslint --fix"
  ],
  "packages/**/*.{css,scss}": [
    "prettier --write",
    "stylelint --fix"
  ],
  "*.{json,md}": [
    "prettier --write"
  ]
}

chore: добавлены правила владения кодом
  CODEOWNERS
Due: none

chore: добавлен шаблон пулл-реквеста
  .github/pull_request_template.md
Due: prettier --write

chore: добавлены правила защиты веток
  .github/branch-protection.yml
  .github/workflows/branch-protection.yml
Due: none

feat: обновление настроек защиты ветки main
  .github/workflows/branch-protection.yml
Due: none

fix: исправлен путь к файлу в триггере workflow
  .github/workflows/branch-protection.yml
Due: none

fix: исправлено название разрешения для администратора
  .github/workflows/branch-protection.yml
Due: none

chore: удаление файлов автоматической настройки защиты
  .github/branch-protection.yml
  .github/workflows/branch-protection.yml
Due: none

chore: удаление файлов автоматической настройки защиты (#15)
  .github/branch-protection.yml
  .github/workflows/branch-protection.yml
Due: none

feat: добавлена поддержка фаззинг-тестирования
  .github/workflows/fuzzing.yml
  package.json
  turbo.json
Due: prettier --write

fix: обновил конфигурацию turbo.json, заменил pipeline на tasks
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

feat(deps): обновление конфигурации окружения и зависимостей
  .gitignore
  package.json
  packages/eslint-config/package.json
  packages/typescript-config/base.json
  pnpm-lock.yaml
  turbo.json
Due: prettier --write

refactor(backend): рефакторинг gateway сервиса
  apps/backend/gateway/package.json
  apps/backend/gateway/src/app.controller.ts
  apps/backend/gateway/src/app.module.ts
  apps/backend/gateway/src/app.service.ts
  apps/backend/gateway/src/main.ts
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

feat(frontend): обновление SSO приложения
  apps/frontend/sso/app/page.tsx
  apps/frontend/sso/package.json
Due: prettier --write, cd apps/frontend/sso && eslint --fix, cd apps/backend/gateway && eslint --fix

chore(ci): удаление устаревшего рабочего процесса fuzzing
  .github/workflows/fuzzing.yml
Due: none

ci(lighthouse): добавлена генерация env файлов перед сборкой SSO
  .github/workflows/lighthouse.yml
Due: none

ci(sonar): добавлен workflow для sonarqube сканирования и базовый конфиг проекта
  .github/workflows/build.yml
  sonar-project.properties
Due: none

ci(sonar): настройка конфигурации для анализа кода в монорепозитории
  sonar-project.properties
Due: none

ci(sonar): обновлен workflow для полноценного сканирования монорепозитория
  .github/workflows/build.yml
Due: none

ci(sonar): добавлена установка pnpm в workflow
  .github/workflows/build.yml
Due: none

ci(sonar): добавлен явный параметр url sonarqube в workflow
  .github/workflows/build.yml
Due: none

ci(sonar): добавлен явный параметр url sonarqube
  .github/workflows/build.yml
Due: none

chore: remove workflow and sonar configuration files
  .github/workflows/build.yml
  sonar-project.properties
Due: none

feat: add sonarqube configuration for turborepo project
  .github/workflows/sonarqube.yml
  package.json
  sonar-project.properties
Due: prettier --write

fix: update sonarqube workflow to use pnpm
  .github/workflows/sonarqube.yml
Due: none

fix: remove test task from sonarqube workflow
  .github/workflows/sonarqube.yml
Due: none

feat: обновить workflow для сборки и анализа проекта
  .github/workflows/sonarqube.yml
Due: none

fix: обновить команду генерации env-файлов в workflow
  .github/workflows/sonarqube.yml
Due: none

chore: настроить sonarqube для монорепозитория
  .github/workflows/sonarqube.yml
  apps/backend/gateway/sonar-project.properties
  apps/backend/users-service/sonar-project.properties
  apps/frontend/sso/sonar-project.properties
Due: none

chore: обновить настройки sonarqube для монорепозитория
  .github/workflows/sonarqube.yml
  apps/backend/gateway/sonar-project.properties
  apps/backend/users-service/sonar-project.properties
  apps/frontend/sso/sonar-project.properties
Due: none
